{% extends 'inventory/base.html' %}
{% block title %}Inventory{% endblock %}

{% block content %}
<h2 class="mb-4">Available Inventory</h2>

{% if request.user.groups.all.0.name == "Admin" or request.user.groups.all.0.name == "Inventory Manager"%}
  <a href="{% url 'add_item' %}" class="btn btn-primary mb-3">Add New Item</a>
{% endif %}

<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for item in items %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ item.category.name }}</h6>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text"><strong>Quantity:</strong> {{ item.quantity }}</p>
          {% if request.user.groups.all.0.name == "Admin" or request.user.groups.all.0.name == "Inventory Manager" %}
            <a href="{% url 'edit_item' item.pk %}" class="btn btn-sm btn-warning">Edit</a>
            <a href="{% url 'delete_item' item.pk %}" class="btn btn-sm btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% empty %}
    <p>No items available.</p>
  {% endfor %}
</div>
{% endblock %}
